.align-text {
    transform: translateX(25px);
}

.top-position {
    padding-top: 100px;
    overflow-y: hidden;
}

.register-email-msg {
    font-size: 13px;
    margin-bottom: 10px;
    color: red;
}