<div fxLayout="row">
  <div class="image-column" fxLayoutAlign="center center" fxFlex="60%">
    <img class="logo-map" src="../../../../assets/logos/app-logo.png" alt="map">
  </div>

  <div class="form-column" class="text-center align-position" fxLayout="column" fxFlex>
    <div fxLayout="column" fxLayoutGap="30px" fxFlex>
      <p class="firsttext">Welcome to Phones Station</p>
      <p class="secondtext">Please log in to continue</p>
    </div>

    <div fxLayout="column" class="mt-4">
      <form [formGroup]="loginForm" id="kt_login_signin_form" (ngSubmit)="submit()" fxFlex>
        <mat-form-field appearance="outline">
          <mat-label class="labelcolor">Username</mat-label>
          <input matInput formControlName="emailId" required>

          <mat-error>
            <show-error requiredMsg="Email is required or has an invalid value. Please correct."
              [formControlErr]="loginForm.controls.emailId"
              patternMsg="Email is required or has an invalid value. Please correct.">
            </show-error>
          </mat-error>
        </mat-form-field>

        <!-- <div class="mt-8" fxLayoutGap="20px"> -->
        <mat-form-field appearance="outline">
          <mat-label class="labelcolor">Password</mat-label>
          <input matInput formControlName="password" [type]="passwordVisible?'text': 'password'" required>
          <mat-error>
            <show-error requiredMsg="Please enter your valid password." [formControlErr]="loginForm.controls.password"
              patternMsg="Please enter a valid password.">
            </show-error>
          </mat-error>

          <!-- <mat-icon matSuffix class="secondary-text cursor-pointer labelcolor"
              (click)="passwordVisible=!passwordVisible" [title]="passwordVisible?'Hide Password':'Show Password'">
              <img
                [src]="passwordVisible? '../../../../assets/logos/Eye.svg' : '../../../../assets/logos/Hide-eye.svg' "
                alt="eye">
            </mat-icon> -->
        </mat-form-field>
        <!-- </div> -->

        <div >
          <button mat-raised-button class="btn-primary" type="submit" id="kt_login_signin_submit" color="primary">Login</button>
        </div>
        </form>
    </div>
  </div>
</div>