$color:#8FABC9;
.child{
    top:50%;
}

.height{
    height: 100%;
    width: 100%;
    background-color: white;
}

 .custom-frame {
    & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 30% !important;
    }
  }

  .user-prefix{
    position: relative;
      top: -1px;
    color:$color;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $color;
}



