<div fxLayout="row">
  <div class="image-column" fxLayoutAlign="center center" fxFlex="60%">
    <img class="logo-map" src="../../../../assets/logos/app-logo.png" alt="map">
  </div>

  <div class="form-column" class="text-center top-position" fxLayout="column" fxFlex>
    <div fxLayout="column" fxLayoutGap="30px" fxFlex>
      <p class="firsttext">Welcome to Phones Station</p>
      <p class="secondtext">Please log in to continue</p>
    </div>

    <form [formGroup]="loginForm">
      <div fxLayout="column" class="mt-4 px-4" fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label class="labelcolor">Username</mat-label>
          <input matInput formControlName="emailId" required>

          <mat-error>
            <show-error requiredMsg="Email is required or has an invalid value. Please correct."
              [formControlErr]="loginForm.controls.emailId"
              patternMsg="Email is required or has an invalid value. Please correct.">
            </show-error>
          </mat-error>
        </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <mat-form-field appearance="outline" fxFlex="90%">
            <mat-label class="labelcolor">Password</mat-label>
            <input matInput formControlName="password" [type]="passwordVisible?'text': 'password'" required>
            <mat-error>
              <show-error requiredMsg="Please enter your valid password." [formControlErr]="loginForm.controls.password"
              patternMsg="Please enter a valid password.">
            </show-error>
          </mat-error>
        </mat-form-field>
        <div class="register-email-msg" *ngIf="!!showRegisterErrorMsg" fxFlex>
          Entered email address is not in our records. Please register first.
        </div>
          <div fxFlex class="text-center" fxLayout="row" class="mb-4">
            <button fxFlex mat-button disableRipple="true" color="primary" class="align-text"
              (click)="passwordVisible=!passwordVisible">{{passwordVisible?'Hide Password':'Show Password'}}</button>
            <button fxFlex mat-button disableRipple="true" color="primary" routerLink="/auth/sign-up">Sign Up</button>
          </div>
        </div>

        <div>
          <button mat-raised-button class="btn-primary" (click)="submit()">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>