<div class="container" #sideNav>
    <div class="head mb-20">
        <img src="../../../../assets/logos/app-logo.png">
    </div>

        <ol>
            <li class="tab-background px-5 py-2">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
                    <span>
                        <img src="../../../../assets/logos/HomeS.svg" alt="home" class="home-icon">
                    </span>
                    <span class="tab-text">Home</span>
                </div>
            </li>
        </ol>
</div>