.container {
    padding: 20px 5px 20px 0px;
    // justify-content: flex-end;
}

.text-color {
    color: #3d7cca;
    font-size: 20px;
    font-weight: 700;
}

.sub-heading {
    font-weight: 600;
    font-size: 14px;
    color: #757575;
}