@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

*{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-column{
  background-color: rgb(255, 255, 255);
}

.align-position{
  padding-top: 250px;
  // text-align: center;
}

.firsttext {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #444444;
  margin: 0px !important;
}

.secondtext {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  margin: 0px !important;
}

.image-column {
  background-color: #F4F7FC;
}

.logo-map {
  position: relative;
  width: 40%;
  height: 50%;
}

.mat-form-field {
  width: 60%;
  height: 15%;
  margin-bottom: 0.5rem;
}

.mat-form-field-label-wrapper {
  left: 8px !important;
}

.labelcolor {
  color: #8FABC9;
}

.mat-form-field-infix {
  top: 0em !important;
}      
.mat-form-field-suffix {
  top: 0em !important;
} 

.cursor-pointer{
  cursor: pointer;
}

.mat-icon>img {
  top: -0.5rem;
  max-height: 24px;
}


.btn-primary {
  background: #3D7CCA;
  color: #fff !important;
  border: 1px solid #3D7CCA;
height: 10%;
width: 60%;

  &:hover {
    background: #3974bc;
  }
}